
.class-info { border-bottom: solid 1px #000000; margin-bottom: 15px; }
.class-info .semester,
.class-info .class { font-size: 16px; line-height: 80px; margin-right: 20px; }
.class-info .lab-name { font-size: 20px; margin-right: 40px; font-weight: bold; }

.table-of-contents { border-bottom: solid 1px #000000; margin-bottom: 15px; }

.major-hr { height: 10px; background: #389fee; margin-bottom: 50px; }

.banner { background: #389fee; color: #ffffff; padding: 10px; }

.hint-container { border: solid 2px #ca7bf8; background: #ecccff; padding: 15px; float: right; margin: 15px; max-width: 45%; }
.hint-container .header { font-weight: bold; font-size: 1.5em; }
.hint-container code { background: none; font-weight: bold; }

.hint-container a,
.hint-container a:active,
.hint-container a:visited { font-weight: bold; color: #510a7a; }

div.example-output,
pre.example-output { background: #333333; border: none; color: #ffffff; font-family: monospace; padding: 5px; font-size: 1.3em; }
span.example-output { background: #efefef; color: #000000; font-family: monospace; padding: 0 5px; }

.example-output-container { border: outset 5px #aaa !important; background: #333333; border: solid 2px #aaaaaa; margin-bottom: 10px; }
.example-output-container h2 { padding: 0; margin: 0; background: #666; color: #ffffff; font-family: monospace; font-size: 1.3em; font-weight: bold; padding: 5px;  }

.important { font-weight: bold; font-style: italic; color: #aa0000; font-size: 1.2em; text-align: center; background: #fdd; margin: 50px; }


h3.step { margin-top: 50px; }

.questions-container { font-size: 1.2em; }
.questions-container ol li { margin: 10px 0; }

.turn-in-container { font-size: 1.2em; }

.reference-container { font-size: 1.2em; border: solid 2px #6f3c00; margin: 20px; padding: 10px; background: #f0e3d4; color: #6f3c00; }

.reference-container a,
.reference-container a:active,
.reference-container a:link,
.reference-container a:visited { font-weight: bold; color: #6f3c00; }

.reference-container h3 { border-bottom: solid 1px #6f3c00; }
